
.aloha-editable-active,
.aloha-editable-active[contenteditable=true]:focus,
.aloha-block.aloha-block-active,
.aloha-block.aloha-block-active:hover,
.aloha-editable-active .aloha-block,
.aloha-block.aloha-block-highlighted {
  outline: none !important;
  box-shadow: none;
}

.aloha-block-dropzone {
  background-color: inherit;
}
